main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 80%;
}