.distancia-section {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f194bb;
    color: #0d0d0d;

    height: 100vh;
}

.distancia-section input{
    color: #0d0d0d;
    border: 2px solid #0d0d0d;
}

.distancia-section select, .distancia-section button, .distancia-section option {
    background-color: #0d0d0d;
    color: #f194bb;
}

.distancia-section .box {
    border: 2px solid #0d0d0d;
}