header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    top: 0;
    width: 100%;

    background-color: #f194bb;
    color: #0d0d0d;
    font-size: 20px;
    
    height: 50px;
    padding: 0 20px;
}

.titleLink {
    color: #0d0d0d;
    font-family: serif;
}

nav {
    display: flex;
    gap: 15px;

}

nav a {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}
